// .card-stats-timesheet {
//   background: #f5365c !important;
// }

// .card-stats-leave {
//   background: #ffd600 !important;
// }
// .card-stats-wfh {
//   background: #11cdef !important;
// }
// .card-stats-Atimesheet {
//   background: #fb6340 !important;
// }

.header {
  font-weight: 600 !important;
  font-size: 17px !important;
}

.bg-danger {
  background: #f1768f !important;
}
.card {
  margin: 4px;
}
.bg-warning {
  background: #fada73 !important;
}
#total {
  color: black !important;
}
