p {
  font-size: 22px !important;
  font-weight: bold !important;
}

label {
  font-size: 20px !important;
}

a {
  text-decoration: underline !important;
}

.col-md-4 .h1 {
  text-align: center !important;
  font-weight: bold !important;
}

body,
h1 {
  font-weight: bold;
}

h1,
.h1 {
  font-size: 1.625rem;
  text-align: center;
}

.alert-warning {
  color: #fff;
  border-color: #00254a !important;
  background-color: #00254a !important;
  height: 56px;
}

.form-control-label {
  color: black;
}

.alert-success {
  background-color: #00256a !important;
}

.alert-danger {
  color: #fff;
  border-color: #00256a !important;
  background-color: #00256a !important;
  line-height: 23px !important;
}

.alert {
  font-size: 20px;
}
