.subBtn {
  display: flex;
  justify-content: center;
  padding: 6px;
}

b {
  color: indigo;
}

.mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: bold;
}

.btn {
  background: #00254a;
  color: white;
}
