.header {
  font-weight: 600 !important;
  font-size: 17px !important;
}

.bg-danger {
  background: #f1768f !important;
}
.card {
  margin: 4px;
}
.bg-warning {
  background: #fada73 !important;
}
#total {
  color: black !important;
}
