p {
  font-size: 22px !important;
  font-weight: bold !important;
}

label {
  font-size: 20px !important;
}

.alert-warning {
  border-color: #00254a !important;
  background-color: #00254a !important;
}

body,
h1 {
  font-weight: bold;
}

h1,
.h1 {
  font-size: 1.625rem;
  text-align: center;
}

.alert-success {
  color: #fff;
  border-color: #00254a !important;
  background-color: #00254a !important;
  height: 56px;
}

.alert {
  font-size: 18px !important;
}

.alert-danger {
  color: #fff;
  border-color: #00256a !important;
  background-color: #00256a !important;
  font-size: 32px;
}
